.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 900px;
}

.app h1 {
  margin-bottom: 20px;
}

header {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form {
  display: flex;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.songs {
  list-style: none;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
